{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "useBuiltIns": true
            }
        ],
        "react"
    ],
    "plugins": [
        "babel-plugin-transform-object-rest-spread",
        "react-hot-loader/babel"
    ]
}