doctype html
html
  head
    script(src="manifest.js")
    script(src="vendor.js")
    script(src="babel-polyfill.js")
    //- link(rel="stylesheet" type="text/css" href="index.css")
  body
    div(id="app" class="full-frame")
    script(src="index.js")